In [1]:
import pandas as pd
import numpy as np

In [2]:
url = r'sessoes_202407161652.csv'
df = pd.read_csv(url)

In [3]:
df

,id_sessao,filme_id,sala_id,cinema_id,tipo_audio,formato_exibicao,dia,horario,data_criacao
0,1,1,2,1,Dublado,2D,14/07/2024,15,2024-07-14 14:39:38.000
1,2,1,7,1,Legendado,2D,14/07/2024,21,2024-07-14 14:39:38.000
2,3,1,8,1,Dublado,2D,14/07/2024,12,2024-07-14 14:39:38.000
3,4,1,10,1,Dublado,3D,14/07/2024,14,2024-07-14 14:39:38.000
4,5,1,6,1,Dublado,2D,14/07/2024,16,2024-07-14 14:39:38.000
...,...,...,...,...,...,...,...,...,...
4826,4827,13,2,8,Dublado,3D,21/07/2024,20,2024-07-14 14:45:39.000
4827,4828,13,8,8,Legendado,3D,21/07/2024,19,2024-07-14 14:45:39.000
4828,4829,13,9,8,Legendado,2D,21/07/2024,17,2024-07-14 14:45:39.000
4829,4830,13,8,8,Legendado,3D,21/07/2024,21,2024-07-14 14:45:39.000
4830,4831,15,9,8,Dublado,2D,21/07/2024,17,2024-07-14 14:45:39.000

In [4]:
df_para_tratamento = df.copy(deep=True)

In [5]:
dias = [14,15,16,17,18,19,20,21]
cinemas = [1,2,3,4,5,6,7,8]
dia_cinema_arr = []
arr_persistentes = []
colunas_para_apagar = ["id_sessao","filme_id","cinema_id","tipo_audio","formato_exibicao","dia","data_criacao"]

In [6]:
for dia in dias:
    for cinema in cinemas:
        dia_cinema_arr.append(df_para_tratamento.query(f'dia == "{dia}/07/2024" & cinema_id == {cinema}'))

In [7]:
len(dia_cinema_arr)

64

In [8]:
for i in range(len(dia_cinema_arr)):
    
    teste = dia_cinema_arr[i].copy(deep=True)
    
    teste.drop("id_sessao", axis=1, inplace=True)
    teste.drop("filme_id", axis=1, inplace=True)
    teste.drop("cinema_id", axis=1, inplace=True)
    teste.drop("tipo_audio", axis=1, inplace=True)
    teste.drop("formato_exibicao", axis=1, inplace=True)
    teste.drop("dia", axis=1, inplace=True)
    teste.drop("data_criacao", axis=1, inplace=True)
    
    teste.drop_duplicates(inplace=True)
    
    for j in teste.index:
        arr_persistentes.append(j)

In [10]:
len(arr_persistentes)

3578

In [14]:
df_replace = df.query("id_sessao - 1 in @arr_persistentes").copy(deep=True)

In [24]:
df_replace.reset_index(inplace=True)

In [26]:
df_replace.drop('level_0', axis = 1, inplace=True)

In [28]:
df_replace.drop('index', axis = 1, inplace=True)

In [32]:
df_replace["id"] = df_replace.index

In [34]:
df_replace.drop('id_sessao', axis = 1, inplace=True)

In [39]:
df_replace.drop(140714204530000, axis = 1, inplace=True)

In [42]:
df_replace.to_csv('sessoes_tratado.csv', sep=',', index=False)